<div class="organisations-form row" *ngIf="isLoaded('organisations')">
    <div class="col-md-10 panel panel-default">
        <div class="panel-body">

            <div class="organisations-global-menu">
                <h1>Manage Organisations</h1>
                <button class="btn btn-primary pull-right" (click)="createOrganisation()">Create Organisation</button>
            </div>

                <table class="table organisations-striped organisations-bordered organisations-resume" >
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th class="pre-actions">Creator</th>
                        <th class="pre-actions">Created</th>
                        <th class="actions"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let organisation of organisations">
                        <td>{{ organisation.id }}</td>
                        <td>{{ organisation.name }}</td>
                        <td>{{ organisation.description }}</td>
                        <td class="pre-actions">{{ organisation.createdOn * 1000| date }}</td>
                        <td class="actions">
                            <button class="icon-button fa-pull-right" title="Edit"
                                    (click)="editTemplate(template)"><span class="fa fa-edit"></span></button>
                            <button class="icon-button fa-pull-right" title="Delete"
                                    (click)="deleteTemplate(template.templateId)"><span class="fa fa-trash"></span></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
        </div>
    </div>
</div>
