<div id="api-breadcrumb-bar">
    <breadcrumbs>
        <li breadcrumb label="Settings" [route]="[ '/settings' ]"></li>
        <li breadcrumb label="Organisations" class="active"></li>
    </breadcrumbs>
</div>

    
            <div class="col-xs-12 col-sm-3">
                <settings-nav tab="organisations"></settings-nav>
            </div>
            
<div class="container-fluid container-organisations">
    <div *ngIf="isLoaded('organisations')">
        <div class="col-xs-12 col-sm-9 organisations">
            

                <div class="organisations-global-menu">
                    <h1>Manage Organisations</h1>
                    <button class="btn btn-primary pull-right" (click)="createOrganisation()"><span>Create Organisation</span></button>
                </div>

                    <table class="table organisations-striped organisations-bordered organisations-resume" >
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th class="pre-actions">Creator</th>
                            <th class="actions"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let organisation of organisations">
                            <td>{{ organisation.id }}</td>
                            <td>{{ organisation.name }}</td>
                            <td>{{ organisation.description }}</td>
                            <td>{{ organisation.createdOn | date }}</td>
                            
                            <td class="actions">
                                <button class="icon-button fa-pull-right" title="Edit"
                                        (click)="editOrganisation(organisation)"><span class="fa fa-edit"></span></button>
                                <button class="icon-button fa-pull-right" title="Delete"
                                        (click)="deleteOrganisation(organisation.id)"><span class="fa fa-trash"></span></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
        </div>
        </div>
        </div>
    
    <organisation-editor #organisationCreator (onSubmit)="loadAsyncPageData()"></organisation-editor>

    <confirm-delete-dialog #confirmDeleteModal>
        <p>Do you really want to delete this organization?</p>
        <div class="alert alert-danger">
            <span class="pficon pficon-error-circle-o"></span>
            <strong>NOTE:</strong>
            <span>This will <strong>permanently</strong> remove the organization from the Organization creation page.  This operation cannot be undone.</span>
        </div>
    </confirm-delete-dialog>