.organisations {
    border: 1px solid #ddd;
    background-color: white;
    padding-bottom: 25px;
}

.container-organisations .template-form {
    margin-top: 20px;
    margin-left: 10px;
  }
  
  .container-organisations .template-form h1 {
    margin-top: 10px;
    margin-bottom: 25px;
  }
  
  .container-organisations .template-form .control-label {
    padding-right: 0;
  }
  
  .container-organisations .template-form textarea {
    resize: vertical;
  }
  
  .container-organisations .templates-global-menu {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
  .container-organisations .templates-global-menu > * {
     display: inline;
   }

   .organisations-global-menu {
    display: flex;
    justify-content: space-between;
    align-items: center
   }

   .organisations-global-menu button {
    width: 130px;
    height: 25px;
   }

   .organisations-global-menu button span {
  
    font-size: 12px;
   }
  
  .container-organisations .notice-of-required {
    margin-top: 30px;
  }
  
  .container-organisations .template-resume .actions > button {
    background-color: transparent;
    color: #776;
    border-width: 0;
  }
  
  .container-organisations table td.pre-actions,
  .container-organisations table th.pre-actions {
    border-right-width: 0px;
  }
  
  .container-organisations table td.actions,
  .container-organisations table th.actions {
    border-left-width: 0px;
    padding-right: 0px;
  }

  @media screen and (max-width: 768px) {
    .actions {
        padding: 0;
        display: flex;
    }
  }