#page-layout-default-nav {
  font-size: 13px;
}

.vnav {
  grid-column-start: m;
  grid-column-end: m;
  width: 130px;
  overflow: hidden;
}

.app-body {
  grid-column-start: k;
  grid-column-end: k;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  position: relative;
}

.pf-c-page__header-brand {
  background: none;
}

span.icon-bar {
  margin-left: 20px;
  background-color: aliceblue;
}

.navbar-collapse.navbar-collapse-pf-site.collapse {
  padding: 0;
}

.pf-c-page__header-tools {
  position: absolute;
  right: 0;
}

.for-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .vnav {
    grid-column-start: m;
    grid-column-end: m;
    width: 130px;
    overflow: hidden;
    margin-top: 70px;
    z-index: 999;
  }

  .for-mobile {
    display: block;
  }

  .app-body {
    height: 1000px;
  }
}